body {
  background-color: #f5f4fa;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  padding: 5px;
  text-decoration: none;
}

textarea {
  resize: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  padding: 0;
  padding-top: 24px;
  padding-bottom: 25px;
  color: #2196f3;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo:focus {
  color: #2196f3;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 1200px;
}

.container.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.button {
  border-radius: 4px;
  padding: 10px 32px;
  color: #757575;
  background-color: #f5f4fa;
  cursor: pointer;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav a {
  position: relative;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a:hover, .site-nav a:focus {
  color: #2196f3;
}

.link.current {
  position: relative;
  display: block;
  padding-right: 0;
  padding-left: 0;
  color: #2196f3;
}
.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover, .contact:focus {
  color: #2196f3;
}
.contact:hover .mail, .contact:focus .mail {
  fill: #2196f3;
}

.mail {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio.header {
  border-bottom: 1px solid #ececec;
}

.hero {
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/new_photo.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/new_photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  padding-bottom: 30px;
  padding-top: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.backdrop.is-hidden {
  visibility: inherit;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  max-width: 528px;
  max-height: 581px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.form-title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #212121;
}
.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}
.form-icon {
  position: absolute;
  display: inline;
  top: 50%;
  left: 0;
  -webkit-transform: translate(100%, 20%);
          transform: translate(100%, 20%);
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within > .form-icon {
  fill: #2196f3;
}

.form-input {
  padding-top: 12px;
  padding-left: 42px;
  padding-bottom: 12px;
  padding-right: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover {
  border-color: #2196f3;
}
.form-input:hover ~ svg {
  fill: #2196f3;
}
.form-input:focus {
  outline: 1px solid #2196f3;
}

.comment {
  min-height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.comment:hover {
  border: 1px solid #2196f3;
}
.comment:focus {
  outline: 1px solid #2196f3;
}
.comment::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.comment::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-agreement {
  margin-top: 20px;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.form-agreement label {
  color: #212121;
}
.form-agreement a {
  color: #2196f3;
  text-decoration: underline;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-agreement a:hover, .form-agreement a:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.modal-button {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30px;
  height: 30px;
  left: 490px;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  fill: black;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  fill: #2196f3;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox:checked ~ .checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-origin: border-box;
  background-image: url("../images/checkbox.svg");
  background-size: contain;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon:hover {
  border-color: #2196f3;
}
.checkbox-icon:focus {
  outline: #2196f3;
}

.button.hero,
.button.footer {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.hero:focus, .button.hero:focus,
.button.footer:focus,
.button.footer:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.button.hero:hover, .button.hero:hover,
.button.footer:hover,
.button.footer:hover {
  background-color: #1976d2;
}

.examples {
  padding-bottom: 94px;
  padding-top: 94px;
}

.examples-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}

.examples-nav .item {
  margin-right: 8px;
}

.examples-nav .item:nth-child(5) {
  margin-right: 0;
}

.button-examples {
  color: #212121;
  background-color: #e5e5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 0;
  text-align: center;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-examples:hover, .button-examples:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.benefits {
  padding-bottom: 0;
  padding-top: 94px;
}

.benefits.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.benefits .item {
  width: calc((100% - 90px) / 4);
}
.benefits .item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #e5e5e5;
  background-position: center;
  background-repeat: no-repeat;
}

.item.details::before {
  background-image: url("../images/antenna.svg");
}

.item.clock::before {
  background-image: url("../images/clock.svg");
}

.item.diagram::before {
  background-image: url("../images/diagram.svg");
}

.item.astronaut::before {
  background-image: url("../images/astronaut1.svg");
}

.benefits-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
}

.benefits-text {
  margin-bottom: 0;
  margin-top: 0;
}

.business {
  padding-bottom: 94px;
  padding-top: 94px;
}

.business.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.business .item {
  width: calc((100% - 60px) / 3);
}

.business-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.business-image > .label {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.item-image {
  display: block;
  width: 100%;
  height: auto;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #e5e5e5;
}

.team.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.team .item {
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-text {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 10px;
}

.team-title {
  margin-bottom: 0px;
  margin-top: 30px;
  color: #212121;
  text-align: center;
  font-weight: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
}

.info.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.info .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links:hover,
.links:focus {
  background-color: #2196f3;
}

.links:hover .team-social,
.links:focus .team-social {
  fill: #ffffff;
}

.team-social {
  fill: #afb1b8;
}

.customers {
  padding-bottom: 94px;
  padding-top: 94px;
}

.customers.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  padding-top: 0;
  padding-bottom: 0;
}

.customers .item {
  width: calc((100% - 150px) / 6);
}

.customers-image {
  height: 60px;
  padding: 0;
  fill: #afb1b8;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  padding-left: 32px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-item:hover, .link-item:focus {
  border: 1px solid #2196f3;
}

.link-item:hover .customers-image,
.link-item:focus .customers-image {
  fill: #2196f3;
}

.secondary-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.cards.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
}

.cards .item {
  width: calc((100% - 60px) / 3);
  border: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}
.cards .item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards .item:nth-child(3n) {
  margin-right: 0;
}

.cards .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.cards .item:hover .replacement {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.replacement {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.replacement > p {
  color: #ffffff;
  padding-left: 24px;
  padding-top: 63px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

.replacement:nth-child(-n+6) {
  margin-top: 1px;
}

.cards-title {
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: 24px;
  margin-right: 24px;
  color: #212121;
  font-weight: bold;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
}

.cards-text {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2f303a;
}

.footer-logo {
  padding: 0;
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.footer-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.title-first-child,
.footer-navigation {
  width: 25%;
}

.title-second-child,
.join-block {
  width: 25%;
}

.title-third-child,
.form-container {
  width: 50%;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-list {
  margin-top: 20px;
  list-style: none;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address:hover, .address:focus {
  color: #2196f3;
}

.address-title {
  margin-top: 9px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-title:focus, .address-title:hover {
  color: #2196f3;
}

.join-block {
  display: block;
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
}

.add.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 20px;
}

.add .item {
  margin-right: 10px;
}

.add .item:nth-child(4n) {
  margin-right: 0;
}

.add .item .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.add .item .links:focus, .add .item .links:hover {
  color: #2196f3;
  background-color: #2196f3;
}

.add-social {
  fill: #ffffff;
}

.footer-form {
  margin-top: 20px;
}

.email-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-property: outline;
  transition-property: outline;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email-footer::-webkit-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.email-footer::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.email-footer:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.email-footer::-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.email-footer::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.email-footer:hover {
  border: 2px solid #2196f3;
}
.email-footer:focus {
  outline: 2px solid #2196f3;
}

.button.footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding-top: 10px;
  padding-left: 29px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button.footer::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-size: contain;
  background-image: url("/images/icon-send.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
}/*# sourceMappingURL=main.css.map */