.page-checkbox {
    margin-top: 20px;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;

    &:checked ~ .checkbox__icon {
            background-color: $accent-color;
            border-color: $accent-color;
            background-origin: border-box;
            background-image: url('../images/checkbox.svg');
            background-size: contain;
        }
}

.checkbox__label {
    @include flex;
    align-items: center;

    justify-content: center;

    color: $secondary-text-color;
}

.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-color: $white-color;
    border: 2px solid $secondary-text-color;
    border-radius: 2px;

    margin-right: 8px;
    cursor: pointer;

    transition-property: background-color;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover {
            border-color: $accent-color;
        }

    &:focus {
        outline: $accent-color;
    }
}

.checkbox__link {
    color: $accent-color;
        text-decoration: underline;
    
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: $timing-function;
    
        &:hover,
        &:focus {
            transform: scale(1.05);
        }
}