.form {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    &-title {
        margin-bottom: 12px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: left;

        color: $secondary-text-color;
    }

    &-field {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    &-label {
        margin-bottom: 4px;
    
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.01em;
        text-align: left;
    }

    &-icon {
        position: absolute;
        display: inline;
        top: 50%;
        left: 0;
        transform: translate(100%, 20%);
        fill: $secondary-text-color;
    
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: $timing-function;
    }
}

.form-field:focus-within>.form-icon {
    fill: $accent-color;
}

.form-input {
    padding-top: 12px;
    padding-left: 42px;
    padding-bottom: 12px;
    padding-right: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover {
            border-color: $accent-color;
        }

    &:hover~svg {
        fill: $accent-color;
    }

    &:focus {
        outline: 1px solid $accent-color;
    }
}

.comment {
    min-height: 120px;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-right: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover {
            border: 1px solid $accent-color;
        }

    &:focus {
        outline: 1px solid $accent-color;
    }

    &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
}

.form-agreement {
    margin-top: 20px;
    margin-bottom: 30px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    & label {
            color: $secondary-text-color;
        }

    & a {
        color: $accent-color;
        text-decoration: underline;
    
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: $timing-function;

        &:hover, &:focus {
            transform: scale(1.05);
        }
    }
}

.modal-button {
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    left: 490px;
    top: 8px;
    right: 8px;

    background-color: $white-color;
    fill: black;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;

    &:hover, &:focus {
        fill: $accent-color;
    }
}