.page-team {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: $secondary-bg-color;
}

.team {
    @extend %list;
    @include flex($align:none, $justify: space-between);

    padding-top: 0;
    padding-bottom: 0;
}

.team__item {
    width: calc((100% - 90px) / 4);

    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__image {
    display: flex;
}

.team__text {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 10px;
}

.team__title {
    margin-bottom: 0px;
    margin-top: 30px;
    color: $secondary-text-color;

    text-align: center;
    font-weight: bold;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.06em;
}

.team__info {
    @extend %list;
    @include flex($align:none);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
}

.info__link {
    @include flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    @include animation(background-color);

    &:hover, &:focus {
            background-color: $accent-color;
        }

    &:hover .info__social, &:focus .info__social {
        fill: $white-color;
    }
}

.info__social {
    fill: #afb1b8;
}