.benefits {
    padding-bottom: 0;
    padding-top: 94px;

    &.list {
            display: flex;
            justify-content: space-between;
    
            padding-top: 0;
            padding-bottom: 0;
        }
}

.benefits .item {
    width: calc((100% - 90px) / 4);

    &::before {
            display: block;
            content: '';
            height: 120px;
            margin-bottom: 30px;
            background-color: $secondary-bg-color;
            background-position: center;
            background-repeat: no-repeat;
        }
}

.item.details::before {
    background-image: url('../images/antenna.svg');
}

.item.clock::before {
    background-image: url('../images/clock.svg');
}

.item.diagram::before {
    background-image: url('../images/diagram.svg');
}

.item.astronaut::before {
    background-image: url('../images/astronaut1.svg');
}

.benefits-title {
    margin-bottom: 10px;
    color: $secondary-text-color;

    font-weight: bold;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.06em;
}

.benefits-text {
    margin-bottom: 0;
    margin-top: 0;
}